*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}
.container-fluide{
    display: flex;
    background-color: rgb(69, 5, 129);
    height: 98vh;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 30vw;
    height: 30vw;
    background-color: rgb(41, 6, 75);
    padding: 2rem;
}
.critere-Password{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 ;
}
.affichePassword{
    background-color: rgb(69, 5, 129);
    display: flex;
    height: 7.5vh;
    width: 26.5vw;
    align-items: center;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    padding:1rem ;

}
input.lenghtPassword{
    width: 3vw;
    color: black;
    font-size: 1.5em;
}
.generationPassword{
    background-color: rgb(236, 174, 57);
    display: flex;
    height:  7vh;
    width: 26.5vw;
    align-items: center;
    justify-content: center;
    color: blueviolet;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 1.5rem;
    border: none;


}