*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    background-color: deepskyblue;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4.5rem 1rem;
    flex-wrap: wrap;
    
}
.contenu{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 2rem;
    
}

button.addNote{
    background-color: darkseagreen;
    text-align: center;
    height: 4vh;
    width: 6.5vw;
    color: white;
    margin-top: -3.7rem;
    margin-left: auto;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

/* ############################## */
/* //style utilise par le javaScripte */
.Groupe{
    display: flex;
    flex-direction: column;
    margin: 2rem 2rem 2rem 2rem;
    /* margin-bottom: 2.5rem; */
}
.noteSaisie{
    display: flex;
    border: none;
    min-width: 100px;
}
.actionIcons{
    display: flex;
    background-color: darkseagreen;
    width: inherit;
    height: 5vh;
    justify-content: flex-end;
    align-items: center;
}

i{
    margin-right: 1rem;
    margin-top: 0.3rem;
    cursor: pointer;
}

textarea {
    display: flex;
    border: none;
    min-width: 100px;
} 
.pagination{
    display: flex;
    width: 100%;
}
.btn{
    font-size:30px;
    color:blueviolet; 
    height:6vh; 
    font-weight:bold; 
    width:10vw;
    border: none;
    border-radius: 0.5rem;
    background-color: aliceblue;
}
a{
    text-decoration: none;
}
.btn:hover{
    background-color: rgb(13, 138, 13);
    color: white;
}
/* .action-icons{
    display: flex;
    background-color: darkseagreen;
    width: inherit;
    height: 5vh;
    justify-content: flex-end;
    align-items: center;
} */
/* .fa-pen-to-square :hover{
    color: yellow;
    cursor: all-scroll;
}
.fa-trash-alt:hover{
    color: red;
    cursor: all-scroll;
} */
/* .groupe1{  
    display: flex;
    flex-direction: column;
    margin-right: 2.5rem;
    margin-left: 1.5rem;
}
.groupe2{ 
    display: flex;
    flex-direction: column;
    margin-right: 2.5rem;
} */